<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>FirebaseAutomaticScreenReportingEnabled</key>
        <false/>
        <key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
        <true/>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.googleusercontent.apps.837739813581-aa74p13q4nu3h0lu3bcc925naj740ca2p</string>
                </array>
            </dict>
        </array>
    </dict>
    </plist>
